@{
    Layout = "_Layout_dashboard";
    ViewData["Title"] = "Dashboard";
    @model List<ClienteCidade>
    var PSV = (List<ClienteCidade>)(@ViewData["PSV"]);
}

<hr />
<h5>Pedidos e Faturamento</h5>
<br />

<div class="col-sm-12 mb-6 no-padding">
    <div class="card-group">
            <div class="card col-md-4 no-padding ">
        <a href="../Pedido">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="ti-check-box text-primary border-primary"></i>
                    </div>

                    <div class="h4 mb-0">
                        <span class="count">@ViewData["VDVendas"]</span>
                    </div>

                    <small class="text-muted text-uppercase font-weight-bold">Pedidos - Últimos 7 dias</small>
                    <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
                </div>
        </a>
            </div>
            <div class="card col-md-6 no-padding ">
        <a href="../Pedido">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="ti-money text-success border-success"></i>
                    </div>
                    <div class="h4 mb-0">
                        <span>@ViewData["VDValor"]</span>
                    </div>
                    <small class="text-muted text-uppercase font-weight-bold">Faturamento - Últimos 7 dias</small>
                    <div class="progress progress-xs mt-3 mb-0 bg-flat-color-5" style="width: 40%; height: 5px;"></div>
                </div>
        </a>
            </div>
            <div class="card col-md-6 no-padding ">
        <a href="../Pedido">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="ti-bar-chart text-warning border-warning"></i>
                    </div>
                    <div class="h4 mb-0">
                        <span>@ViewData["VDMediaVenda"]</span>
                    </div>
                    <small class="text-muted text-uppercase font-weight-bold">Ticket Médio</small>
                    <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;"></div>
                </div>
        </a>
            </div>
            <div class="card col-md-6 no-padding ">
        <a href="../Pedido">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="ti-stats-up text-success border-success"></i>
                    </div>
                    <div class="h4 mb-0">
                        <span>@ViewData["VDMaiorVenda"]</span>
                    </div>
                    <small class="text-muted text-uppercase font-weight-bold">Maior Venda Realizada</small>
                    <div class="progress progress-xs mt-3 mb-0 bg-flat-color-5" style="width: 40%; height: 5px;"></div>
                </div>
        </a>
            </div>
            <div class="card col-md-6 no-padding ">
        <a href="../Pedido">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="ti-shopping-cart-full text-danger border-danger"></i>
                    </div>
                    <div class="h4 mb-0">@ViewData["VDVendTotal"]</div>
                    <small class="text-muted text-uppercase font-weight-bold">Total de Pedidos</small>
                    <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;"></div>
                </div>
        </a>
            </div>
            <div class="card col-md-6 no-padding ">
        <a href="../Pedido">
                <div class="card-body">
                    <div class="h1 text-muted text-right mb-4">
                        <i class="fa fa-money text-success border-success"></i>
                    </div>
                    <div class="h4 mb-0">
                        <span>@ViewData["VDVendValorTotal"]</span>
                    </div>
                    <small class="text-muted text-uppercase font-weight-bold">Faturamento Total</small>
                    <div class="progress progress-xs mt-3 mb-0 bg-flat-color-5" style="width: 40%; height: 5px;"></div>
                </div>
        </a>
            </div>
    </div>
</div>
<div class="col-sm-12 mb-6 no-padding">
    <div class="content mt-3 no-padding">
        <h5>Pedidos por Cidades</h5>
        <hr />
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Cidade</th>
                                        <th>UF</th>
                                        <th>Quantidade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count > 0)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Cidade</td>
                                                <td>@item.UF</td>
                                                <td>@item.Quantidade</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>Sem Registros</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h5>Informações sobre Produtos e Clientes</h5>
    <hr />
    <div class="col-lg-6 col-md-6 no-padding">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="fa fa-users text-primary"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Clientes Cadastrados</div>
                            <div class="stat-text">@ViewData["VDClientes"]</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 no-padding">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="fa fa-edit text-danger"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Produtos cadastrados</div>
                            <div class="stat-text">@ViewData["VDProdutos"]</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 no-padding">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib ">
                        <i class="ti-server text-warning"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Produtos em estoque</div>
                            <div class="stat-text">@ViewData["VDQuantidadeProdutos"]</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 no-padding">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-arrow-top-right text-success"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">O mais vendido: @ViewData["VDNomeProdutoMaisVendidoNome"]</div>
                            <div class="stat-text">Quantidade: @ViewData["VDNomeProdutoMaisVendidoQuantidade"]</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-sm-12 mb-6 no-padding">
        <div class="content mt-5 no-padding">
            <h5>Lista de produtos com baixa movimentação </h5>
            <hr />
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="bootstrap-data-table-export-2" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (PSV.Count > 0)
                                        {
                                            @foreach (var item in PSV)
                                            {
                                                <tr>
                                                    <td>@item.Nome</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>Sem Registros</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#test').DataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
            "paging": true
        });
    });
</script>
