@{
                @model List<tb_produto>;
                ViewData["Title"] = "Produto";

                Layout = "_Layout_dashboard"; }


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div><strong class="card-title">Lista de Produtos com Baixo Estoque</strong>
                        <button class="btn btn-primary" type="button" onclick="window.location.href ='/produto/cadastroproduto'">Novo Produto</button></div>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Código Interno</th>
                                    <th>Nome</th>
                                    <th>Valor</th>
                                    <th>Quantidade</th>
                                    <th>Tamanho</th>
                                    <th>Aviso</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@item.CodigoInterno</td>
                    <td>@item.Nome</td>
                    <td>@item.Valor.ToString("C")</td>
                    <td>@item.Quantidade</td>
                    <td>@item.Tamanho</td>
                    <td><button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='/produto/SemMensagemEstoque?CodigoProduto=@item.CodigoProduto'"><i class="fa fa-edit">Não Avisar</i></button></td>
                </tr>
} }
                else
                {
                <tr>
                    <td>Sem Registros</td>
                </tr>
}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
